@page "/fetchdata"
@inject HttpClient Http
@inject PI.Interview.Services.IPortfolioService PortfolioService

@using P1.Interview.Domain
 
<h1>P1 Investment Interview Demo</h1>

<p>Random 3 portfolios...</p>

@if (portfolioAggregate == null)
{
    <p><em>Loading portfolios...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Portfolio Id</th>
                <th>Name</th>
                <th>Currency</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var portfolio in portfolioAggregate.Portfolios)
            {
                <tr>
                    <td>@portfolio.Id</td>
                    <td>@portfolio.Name</td>
                    <td>@portfolio.Currency</td>
                    <td>@portfolio.CurrentValue</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Aggregate Value: @portfolioAggregate.AggregateValue</td>
            </tr>
        </tfoot>
    </table>
}

@code {
    private PortfolioAggregate portfolioAggregate;

    protected override async Task OnInitializedAsync()
    {
        portfolioAggregate = await PortfolioService.GetThreeRandomPortfolios();
    }
}